body{
    background-color: #444;
}

img{
    padding: 5px;
    display: block; /*for equal margin*/
    margin: auto;
    max-width: 100%; /*for responsive image*/
    max-height: 100%; 
    opacity: 0.5;
    padding: 5px;

}

#Image{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    border-radius: 50%;

}

/*ROW and Columns*/
.row{
    display: flex;
    width: 100%;
}

.row::after{
    display: block;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;} /*(1%12)*100*/
.col-2{width: 16.66%;} /*(2%12)*100*/
.col-3{width: 25%;}     /*(3%12)*100*/
.col-4{width: 33.33%;}  /*(4%12)*100*/
.col-5{width: 41.66%;}  /*(5%12)*100*/
.col-6{width: 50%;}     /*(6%12)*100*/
.col-7{width: 58.33%;}  /*(7%12)*100*/
.col-8{width: 66.66%;}  /*(8%12)*100*/
.col-9{width: 75%;}     /*(9%12)*100*/
.col-10{width: 83.33%;} /*(10%12)*100*/
.col-11{width: 91.66%;} /*(11%12)*100*/
.col-12{width: 100%;}   /*(12%12)*100*/

*{
    box-sizing: border-box;
}

[class*="col-"]{
    border: 2px solid yellow;
    padding: 15px;
    margin: 2px;
    float: left;
}